@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: transparent;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}
h1 {
  color: rgb(88 199 250 / 100%);
  margin-bottom: 0.5rem;
}
header {
  color: rgb(88 199 250 / 100%);
  background-color: transparent;
  background: transparent;
}
